
  <div class="flex flex-col relative justify-end h-full w-full min-h-fit transition-all">

    {% if post.data.thumb %}
    <a href="{{ post.url }}" class="h-full w-full decoration-transparent hover:decoration-inherit">
      <img
        src="{{ post.data.thumb }}"
        alt="{{ post.data.thumbAlt }}"
        class="scrim thumbImg inset-0 absolute object-cover"
      />
      <div
          class="flex flex-col justify-center group relative h-full px-4"
        >
        <div class="flex items-end justify-end pb-8 mt-4">
          <span class="postlist-item-header bg-white px-1"></span>
        </div>
            <div class="flex flex-col justify-center text-2xl max-w-xl h-full pb-4">
                <h3 class="max-w-sm h-72">
                  <span class="p-1">
                  {% if post.data.title %}{{ post.data.title }}{% else %}
                  <code>{{ post.url }}</code>
                  {% endif %}
                </span>
              </h3>
              <time datetime="{{ post.date | htmlDateString }}" class="text-sm">{{
                post.date | readableDate
              }}</time>
          </div>
        </div>
    </a>
    {% endif %}
  </div>
    <div class="articleCardTags w-full p-4 flex flex-row flex-wrap gap-1">
      {% for tag in post.data.tags | filterTagList %} {% set tagUrl %}/tags/{{
        tag | slug
      }}/{% endset %}

      <a href="{{ tagUrl }}"
        class="relative block articleCardTag"
        >{{ tag }}</a
      >

      {% endfor %}
    </div>
