<li
  class="postlist-item {% if articleUrl == url %}postlist-item-active {% endif %}flex flex-col max-h-96 h-full"
  style="counter-increment: start-from -1;"
>
{% if articleImg %}
  <a href="{% if articleLink is defined %}{{ articleLink }}{% else %}{{ articleUrl }}{% endif %}" class="card flex flex-col relative w-full h-[327px] aspect-square border overflow-hidden rounded-3xl" {% if articleLink is defined %}target="_blank" rel="noopener noreferrer"{% endif %}>
    <div class="postlist-item-description relative flex h-full w-full transition-all">
      <div class="flex flex-col h-60 w-auto px-6 py-16 mx-auto absolute">
        <div class="relative m-auto">
          <p><span class="postlist-item-title">{{ articleTitle }}</span><p>
          <p>{{ articleDescription }}</p>
        </div>
      </div>
      <div
        class="thumbImgContainer flex w-full h-full"
      >
        {% image articleImg, articleImgAlt, "thumbImg h-full object-cover top-0 bottom-0 left-0 right-0 absolute" %}
      </div>
    </div>
    {% else %}
  <a href="{% if articleLink is defined %}{{ articleLink }}{% else %}{{ articleUrl }}{% endif %}" aria-label="{% if articleTitle %}{{ articleTitle }}{% else %}<code>{{ articleUrl }}</code>{% endif %}" class="card relative flex w-full {% if articleImg is not defined %}h-[327px]{% endif %}" {% if articleLink is defined %}target="_blank" rel="noopener noreferrer"{% endif %}>
    {% endif %}
    <div class="flex flex-col justify-end gap-1 py-4 px-6 {% if articleImg is not defined %} w-full h-full border rounded-3xl{% else %}absolute scrim2 w-full rounded-b-3xl bottom-0 text-[var(--text-color-link-active)]{% endif %}">
      {% if articleDescription is defined %}<p class="w-3/4"><time
        datetime="{{ articleDate | htmlDateString }}"
        class="text-xs inline-block min-w-max"
        aria-label="number of days blogpost posted ago" title="blogpost date"
        >{{ articleDate | agoDate }}</time></p>{% endif %}
    </div>
  </a>
  <div class="flex items-center max-w-sm absolute">
    <ul class="flex flex-wrap w-full gap-2 p-4" role="list">
      {% for tag in articleTags | filterTagList %} {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
      <li>
        <a href="{{ tagUrl }}"
            title="{{ site.url}}{{ tagUrl }}"
              class="post-tag rounded-full text-xs"
              >{{ tag }}</a
            >
      </li>
      {% endfor %}
    </ul>
  </div>
</li>
