<section>
  <div>
    <form class="flex flex-col gap-2" name="contact" netlify-honeypot="bot-field" netlify>
      <p class="hidden">
        <label>
          Don’t fill this out if you’re human: <input name="bot-field" />
        </label>
      </p>
      <p>
        <label for="name"><input class="w-full rounded-xl border-2 p-3 text-sm text-black"
          id="name"
          type="text"
          name="name"
          placeholder="Name"
          required
          /></label>
      </p>
      <p>
        <label for="email"><input class="w-full rounded-xl border-2 p-3 text-sm text-black"
          id="email"
          type="email"
          name="email"
          placeholder="Email"
          required
          /></label>
      </p>
      <p>
        <label class="sr-only" for="message">Message:</label>
        <textarea
          id="message"
          name="message"
          class="w-full rounded-xl border-2 p-3 text-sm text-black"
          placeholder="Message"
          rows="8"
        ></textarea>
      </p>
      <p>
        <button
          type="submit"
          class="inline-block w-full rounded-3xl bg-[var(--primary)] text-[var(--text-color)] displayFont p-4"
          >
          Send
        </button>
      </p>
    </form>
  </div>
</section>