<div>
  {% set postsCount = collections.posts | length %} {% set latestPostsCount =
  postsCount | min(numberOfLatestPostsToShow) %}
  <h2 class="py-5">
    Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}
  </h2>
  {% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
  {% set postslistCounter = postsCount %}
  <div
    reversed
    class="postlist grid lg:grid-cols-2 columns-3 break-inside-avoid w-full border-l-2 border-t-2"
    style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}"
  >
    {% for post in postslist | reverse %}
    <div
      class="postlist-item{% if post.url == url %} postlist-item-active{% endif %} h-full w-full border-r-2 border-b-2"
    >
      <div
        class="flex flex-col relative justify-end h-full w-full min-h-fit transition-all"
      >
        <a
          href="{{ post.url }}"
          class="h-full w-full overflow-hidden"
        >
          <article class="flex flex-col group relative h-full w-full  lg:text-xl sm:text-base leading-tight">
            <div class="px-4 pt-4">
              <span class="flex flex-row flex-wrap pb-8 gap-1 items-center justify-end">
                <time
                      datetime="{{ post.date | htmlDateString }}"
                      class="text-sm"
                      >{{ post.date | readableDate }}</time
                    >
              </span>
              <h3 class="postlist-item-header relative lg:text-base lg:pl-4 lg:pr-9 lg:py-4 decoration-transparent hover:decoration-inherit">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</h3>
            </div>
            <div class="flex-col flex-nowrap relative w-full h-full">
              <div
                class="postlist-item-description text-sm h-full lg:px-8 pb-14 lg:z-0 top-0 lg:bg-transparent mx-3"
              >
              {% if post.data.description %}
              <h4 class="inline-block float-left lg:text-base md:text-sm sm:text-sm">
                  {{ post.data.description }}
              </h4>
              {% endif %}
              {% excerpt post %}
              <img
                  src="{{ post.data.thumb }}"
                  alt="{{ post.data.thumbAlt }}"
                  class="inset-0 top-0 relative lg:opacity-0 h-auto w-auto lg:block"
                />
              </div>
              {% if post.data.thumb %}
              <div
                class="thumbImgContainer border-t-2 lg:flex items-end justify-end h-full w-full top-0 lg:absolute sm:relative lg:overflow-hidden lg:z-10"
              >
                <img
                  src="{{ post.data.thumb }}"
                  alt="{{ post.data.thumbAlt }}"
                  class="thumbImg lg:block lg:inset-0 lg:top-0 lg:absolute transition-all lg:object-cover lg:object-top"
                />
              </div>
              {% endif %}
            </div>
          </article>
        </a>
      </div>
      <div class="absolute max-w-sm pt-8 pb-4 px-4 flex flex-row flex-wrap gap-1 z-20">
        {% for tag in post.data.tags | filterTagList %} {% set tagUrl %}/tags/{{
          tag | slug
        }}/{% endset %}

        <a href="{{ tagUrl }}"
          class="relative block post-tag px-2"
          >{{ tag }}</a
        >

        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% set js %}
{% include './latestPosts/latestPosts.js' %}
{% endset %}
<script>{{ js | jsmin | safe }}</script>