<div>
  {% set postsCount = collections.posts | length %} {% set latestPostsCount =
  postsCount | min(numberOfLatestPostsToShow) %}
  <h2 class="p-5 text-xl">
    Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}
  </h2>
  {% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
  {% set postslistCounter = postsCount %}
  <div
    reversed
    class="postlist grid grid-cols-2 columns-3 break-inside-avoid w-full"
    style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}"
  >
    {% for post in postslist | reverse %}
    <div
      class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}"
    >
      <div
        class="flex flex-col relative justify-end h-full w-full min-h-fit transition-all"
      >
        {% if post.data.thumb %}
        <a
          href="{{ post.url }}"
          class="h-full w-full decoration-transparent hover:decoration-inherit"
        >
          <article class="flex flex-col group relative h-full w-full">
            <div class="flex flex-col pt-4 px-4 pb-32 z-0 top-0 border-t-2 border-r-2">
              <h3
                class="postlist-item-header max-w-md pb-4 text-2xl"
              >
                <span>
                  {% if post.data.title %}{{ post.data.title }}{% else %}
                  <code>{{ post.url }}</code>
                  {% endif %}
                </span>
                <time
                  datetime="{{ post.date | htmlDateString }}"
                  class="text-sm"
                  >{{ post.date | readableDate }}</time
                >
              </h3>
            </div>
            <div
              class="flex items-end justify-end h-full w-full top-0 absolute overflow-hidden z-10"
            >
              <img
                src="{{ post.data.thumb }}"
                alt="{{ post.data.thumbAlt }}"
                class="scrim thumbImg inset-0 absolute transition-all object-cover"
              />
            </div>
          </article>
        </a>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% set js %}
{% include './latestPosts/latestPosts.js' %}
{% endset %}
<script>{{ js | jsmin | safe }}</script>