{% set currentYear = "" %}
<li class="flex py-4">
{% if showYear %}
      {% set postYear = post.date.getFullYear() %}
      {% if currentYear != postYear %}
      {% set currentYear = postYear %}
      <time class="text-xl mx-4 opacity-70 mb-8">{{ postYear }}</time>
      {% endif %}
{% endif %}
  <div class="flex flex-col mx-4 mb-6 w-1/2">
    <div class="block mr-auto">
      <a href="{{ articleUrl | url }}" class="text-3xl">
        {% if articleTitle %}{{ articleTitle }}{% else %}<code>{{ articleUrl }}</code>{% endif %}</a>
        {% if articleDescription %}<p>{{ articleDescription }}</p>{% endif %}
      <div class="flex gap-2 items-center">
        <div class="flex">
          <time datetime="{{ start_date | htmlDateString }}" class="text-sm opacity-70 block">{{ start_date | readableDate }}</time> — <time datetime="{{ end_date | htmlDateString }}" class="text-sm opacity-70 block">{{ end_date | readableDate }}</p>
        </div>
        |
        <p class="text-sm opacity-70 block">{{ position }}</p>
      </div>
    </div>
    <ul class="flex flex-wrap py-4 lg:my-0">
      {% for tag in articleTags | filterTagList %} {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
      <li class="relative">
        <a href="{{ tagUrl | url }}" class="post-tag text-xs">{{ tag }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
    <a href="{{ articleUrl | url }}" class="thumbImgContainer decoration-transparent flex w-1/2 border rounded-3xl">
      {% image articleImg, articleImgAlt, "thumbImg object-cover h-full aspect-video rounded-3xl" %}
    </a>
</li>