{% set currentYear = "" %}
<li class="flex flex-col sm:flex-row p-4">
{% if showYear %}
      {% set postYear = post.date.getFullYear() %}
      {% if currentYear != postYear %}
      {% set currentYear = postYear %}
      <time class="text-xl mx-4 opacity-70 mb-8">{{ postYear }}</time>
      {% endif %}
{% endif %}
  <div class="flex flex-col sm:w-1/2 min-h-full">
    <div class="flex flex-col mr-auto h-full">
      <a href="{{ articleUrl | url }}" class="text-3xl mb-2 mr-8">
        {% if articleTitle %}{{ articleTitle }}{% else %}<code>{{ articleUrl }}</code>{% endif %}
      </a>
        {% if articleDescription %}<p class="mb-4 mr-4">{{ articleDescription }}</p>{% endif %}
      <div class="flex flex-col text-xs opacity-70 sm:flex-row sm:gap-2 sm:items-center mt-auto">
        {% if position %}
        <div class="flex items-center">
          <time datetime="{{ start_date | htmlDateString }}">{{ start_date | resumeDate }}</time><span class="m-[2px]">&#8211;</span><time datetime="{{ end_date | htmlDateString }}">{{ end_date | resumeDate }}</p>
        </div>
        <span class="hidden sm:block">|</span>
        <p>{{ position }}</p>
        {% endif %}
      </div>
    </div>
  </div>
  {% if articleImg %}
    <div class="relative w-full sm:w-1/2 border hover:border-[var(--primary)] rounded-3xl mt-5 sm:m-0 ">
      <ul class="flex flex-wrap absolute p-4 z-[1] left-0">
        {% for tag in articleTags | filterTagList %} {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
        <li class="relative">
          <a href="{{ tagUrl }}" class="post-tag text-xs">{{ tag }}</a>
        </li>
        {% endfor %}
      </ul>
      <a href="{{ articleUrl | url }}" class="thumbImgContainer decoration-transparent h-full w-full flex rounded-3xl">
        {% image articleImg, articleImgAlt, "thumbImg object-cover h-full sm:aspect-video rounded-3xl" %}
      </a>
    </div>
  {% else %}
  <ul class="flex flex-wrap p-4 items-end justify-end">
    {% for tag in articleTags | filterTagList %} {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
    <li class="relative">
      <a href="{{ tagUrl }}" class="post-tag text-xs">{{ tag }}</a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</li>