<li class="flex flex-col py-4">
  <div class="flex flex-col sm:flex-row mx-4 mb-6">
    <div class="block mr-auto">
      <a href="{{ articleUrl | url }}" class="text-3xl">{% if articleTitle %}{{ articleTitle }}{% else %}<code>{{ articleUrl }}</code>{% endif %}</a>
      {% if articleDate %}
      <time datetime="{{ articleDate | htmlDateString }}" class="text-sm opacity-70 block">{{ articleDate | readableDate }}</time>
      {% elif tenure %}
      <div class="flex gap-2 items-center">
        <p class="text-sm opacity-70 block">{{ position }}</p>
        |
        <p class="text-sm opacity-70 block">{{ tenure }}</p>
      </div>
      {% endif %}
    </div>
    <ul class="flex flex-wrap min-w-max mb-4 lg:my-0">
      {% for tag in articleTags | filterTagList %} {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
      <li>
        <a href="{{ tagUrl }}" class="post-tag text-xs">{{ tag }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% if articleDescription %}
  <p class="w-full mx-4">{{ articleDescription }}</p>
  {% endif %}
</li>