<header id="home" class="flex items-center border-b-2 py-6 md:py-0">
  <div
    id="myName"
    class="w-full md:mr-auto md:flex md:h-16 items-center gap-8"
  >
    <a class="pl-6 md:px-0 text-sm md:text-base" href="/">
      Kariyma Murphy
    </a>
  </div>
</header>
