<nav id="main-nav" aria-label="Global" class="hidden sm:flex w-full sm:border-b-0 justify-end lg:w-[calc(5.875*5)]">
  <h2 class="sr-only">Top level navigation menu</h2>
  <ul id="navContainer" class="absolute flex flex-col my-6 sm:static sm:my-0 sm:flex-row h-full">
    {%- for entry in collections.all | eleventyNavigation %}
    <li class="sm:w-full sm:text-center">
      <a id="{{ entry.title }}"
         aria-label="{{ entry.title }}"
         class="post-tag text-5xl sm:text-2xl rounded-3xl displayFont {% if entry.url == page.url %}active{% endif %}"
         href="{{ entry.url }}"
         {% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a>
    </li>
    {%- endfor %}
  </ul>
</nav>