<article
  class="{% if postslist %}postlist-item h-full {% elif portfolio %}worklist-item {% endif %}{% if articleUrl == url %}postlist-item-active {% endif %}flex flex-col rounded-lg overflow-hidden border-2"
  style="counter-increment: start-from -1;"
>
  <a href="{% if post %}{{ articleUrl }}{% elif work %}{{ articleLink }}{% endif %}" class="flex flex-col relative w-full h-full" {% if work %}target="_blank" rel="noopener noreferrer"{% endif %}>
    <div class="{% if post %}relative {% endif %}flex h-full">
      <div
        class="postlist-item-description w-full h-full transition-all"
      >
        {% if post %}
        <div class="flex flex-col px-4 py-6 mt-2 lg:w-[35ch] lg:h-full">
          {% excerpt post %}
        </div>
          {% elif work %}
          {% endif %}
        {% if articleImg %}
        <div
          class="thumbImgContainer relative lg:flex items-end justify-end w-full lg:h-full top-0 lg:absolute lg:overflow-scroll"
        >
          {% image articleImg, articleImgAlt, "thumbImg h-full w-full lg:absolute lg:object-cover lg:inset-0 lg:top-0" %}
        </div>
        {% endif %}
      </div>
    </div>
    <div class="flex flex-col lg:flex-row px-4 pt-6 lg:pt-4 bg-[var(--border-primary)] border-t-2">
        <h3 class="postlist-item-header break-words w-full lg:text-base">{% if articleTitle %}{{ articleTitle }}{% else %}<code>{{ articleUrl }}</code>{% endif %}</h3>
        <div class="flex w-full pb-4 lg:justify-end">
            <time
                  datetime="{{ articleDate | htmlDateString }}"
                  class="text-sm opacity-70 min-w-max"
                  aria-label="number of days blogpost posted ago" title="blogpost date"
                  >{{ articleDate | agoDate }}</time
                >
          </div>
      </div>
  </a>
  <ul class="page-tags-list w-full lg:w-auto lg:max-w-xs flex flex-row flex-wrap z-0 bg-[var(--border-primary)] lg:z-10 px-4 py-4 lg:py-2 xl:absolute lg:bg-transparent gap-2 lg:place-self-end lg:self-end">
        {% for tag in articleTags | filterTagList %} {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
        <li>
          <a href="{{ tagUrl }}"
              title="{{ site.url}}{{ tagUrl }}"
                class="postlist-tag md:text-sm rounded-full"
                >{{ tag }}</a
              >
        </li>
        {% endfor %}
  </ul>
</article>
</div>