<article
  class="{% if postslist %}postlist-item {% elif portfolio %}worklist-item {% endif %}{% if articleUrl == url %}postlist-item-active {% endif %}flex flex-col max-h-96 h-full"
  style="counter-increment: start-from -1;"
>
{% if articleImg %}
  <a href="{% if articleLink is defined %}{{ articleLink }}{% else %}{{ articleUrl }}{% endif %}" class="flex flex-col relative w-full h-[327px] aspect-square border overflow-hidden rounded-3xl" {% if articleLink is defined %}target="_blank" rel="noopener noreferrer"{% endif %}>
    <div class="postlist-item-description relative flex h-full w-full transition-all">
      {% if post %}
      <div class="flex flex-col p-6 absolute">
        {% excerpt post %}
      </div>
        {% elif work %}
        {% endif %}

      <div
        class="thumbImgContainer flex w-full h-full"
      >
        {% image articleImg, articleImgAlt, "thumbImg h-full object-cover top-0 bottom-0 left-0 right-0 absolute" %}
      </div>
    </div>
    {% else %}
    {% endif %}
  </a>
  <div class="relative flex {% if articleImg is not defined %}h-[327px]{% endif %}">
    <div class="flex flex-col bg-[var(--background)] justify-end gap-1 p-6 lg:pt-4 {% if articleImg is not defined %} w-full h-full border rounded-3xl{% else %}absolute scrim2 w-full rounded-b-3xl bottom-0 text-[var(--text-color-link-active)]{% endif %}">
      {% if articleTitle %}
      <h3 class="postlist-item-header break-words max-w-xs text-base">
        <a href="{% if articleLink is defined %}{{ articleLink }}{% else %}{{ articleUrl }}{% endif %}" {% if articleLink is defined %}target="_blank" rel="noopener noreferrer"{% endif %}>
          {% if articleTitle %}{{ articleTitle }}{% else %}<code>{{ articleUrl }}</code>{% endif %}
        </a>
      </h3>
      {% endif %}
      {% if articleDescription %}<p class="max-w-[35ch]">{{ articleDescription }}</p>{% endif %}
    </div>
  </div>
  <div class="flex items-center">
    <ul class="flex flex-wrap w-full gap-2 px-4 pt-2">
      {% for tag in articleTags | filterTagList %} {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
      <li>
        <a href="{{ tagUrl }}"
            title="{{ site.url}}{{ tagUrl }}"
              class="post-tag rounded-full text-xs"
              >{{ tag }}</a
            >
      </li>
      {% endfor %}
    </ul>
    <time
    datetime="{{ articleDate | htmlDateString }}"
    class="text-xs opacity-70 min-w-max px-4"
    aria-label="number of days blogpost posted ago" title="blogpost date"
    >{{ articleDate | agoDate }}</time>
  </div>

</article>
