<ul class="page-tags-list flex flex-row flex-wrap pb-8 gap-2">
  {% for tag in collections.all | getAllTags | filterTagList %} {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
  <li class="page-tags-list-item">
    <a href="{{ tagUrl }}"
          class="post-tag relative block px-2 rounded-3xl"
          >{{ tag }}</a
        >
  </li>
  {% endfor %}
</ul>