<div
  id="contact_modal"
  class="dialog-container"
  aria-labelledby="send_me_a_note"
  aria-hidden="true"
>
  <!-- 2. The dialog overlay -->
  <div class="dialog-overlay" data-a11y-dialog-hide></div>
  <!-- 3. The actual dialog -->
  <div class="dialog-content p-6 border rounded-3xl" role="document">
    <div>
      <button type="button" class="flex items-center gap-1" data-a11y-dialog-hide aria-label="Close dialog">
        <i class="fa fa-times-circle-o" aria-hidden="true"></i> <span class="font-bold">Close</span>
      </button>
      <h1 id="send_me_a_note" class="mt-4 lg:max-w-sm lg:text-5xl">Want to work together?</h1>
    </div>
    <div class="flex flex-col">
      <h2 class="lg:max-w-sm mb-6 text-base sm:text-2xl">Complete the form below to send your enquiry.</h2>
      <form
        class="flex flex-col max-w-sm text-xl gap-4"
        name="contact"
        netlify-honeypot="e-mail"
        netlify
      >
        <p class="specialsauce">
          <label for="e-mail">
            Your e-mail
            <input
              autocomplete="off"
              type="email"
              id="e-mail"
              name="e-mail"
              placeholder="Your e-mail here"
            />
          </label>
        </p>
        <p>
          <label for="name"
            > Name
            <input
              class="w-full rounded-xl border p-3 text-sm text-black"
              id="name"
              type="text"
              name="name"
              placeholder="Your name"
              required
          /></label>
        </p>
        <p>
          <label for="email"
            > Email
            <input
              class="w-full rounded-xl border p-3 text-sm text-black"
              id="email"
              type="email"
              name="email"
              placeholder="Your email address"
              required
          /></label>
        </p>
        <p>
          <label class="sr-only" for="message">Message:</label>
          Describe your project
          <textarea
            id="message"
            name="message"
            class="w-full rounded-xl border p-3 text-sm text-black"
            placeholder="Your message"
            rows="6"
          ></textarea>
        </p>
        <p>
          <button
            type="submit"
            class="mx-auto w-1/2 rounded-full font-bold bg-[var(--primary)] text-[var(--text-color)] p-4"
          >
            Send
          </button>
        </p>
      </form>
    </div>
  </div>
</div>
