<footer id="copyright" class="flex p-6 stone">
  <div class="vertical-text lg:w-4">
    <p class="text-sm text-end md:py-16">
      Copyright &copy; 2022. All rights reserved.
    </p>
  </div>
</footer>
