{%- if title == "Blog" %}
      <details>
      {% else %}
      <details open>
      {%- endif -%}
        <summary class="p-4 md:pr-6 md:pl-0 text-base">
          Tags
        </summary>
        {% include "_partials/taglist.njk" %}
      </details>