{% include "contact.njk" %}
<footer class="flex flex-col lg:flex-row h-auto mt-auto lg:mx-auto lg:w-full">
  <nav id="footer-nav" aria-label="footer" class="w-full p-6">
    <h4 class="opacity-70 text-sm text-center sm:text-left">Pages</h4>
    <ul class="flex flex-col items-center gap-6 sm:flex-row sm:gap-8 sm:justify-start">
      {%- for entry in collections.all | eleventyNavigation %}
      <li>
        <a aria-label="{{ entry.title }}"
           href="{{ entry.url }}"
           {% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a>
      </li>
      {%- endfor %}
      <li class="decoration-transparent">
        <a class=" transition hover:/75" href="/about/"> about </a>
      </li>
      <li class="decoration-transparent">
        <a class=" transition hover:/75" href="/archive/"> archive </a>
      </li>
      <li class="flex items-center gap-1 min-w-max">
        <button type="button" data-a11y-dialog-show="contact_modal" class="transition">
          send a note
        </button>
      </li>
    </ul>
  </nav>
  <div class="flex flex-col lg:flex-row sm:min-w-max p-6 lg:items-end text-sm">
    <p class="text-center sm:text-left">
      Kariyma Murphy &copy; 2024. Analytics via <a href="https://plausible.io/" target="_blank" rel="noopener noreferrer">Plausible</a>.
    </p>
  </div>
</footer>