{% include "drawer.njk" %}
<footer class="h-auto mt-8 sm:mt-0 lg:mx-auto lg:w-full max-w-screen-xl left-0 right-0 bottom-0 lg:fixed">
  <div class="relative p-6 opacity-70">
      <nav id="footer-nav" aria-label="footer">
        <ul
          class="flex flex-col items-center text-sm gap-2 py-8 sm:my-0 sm:flex-row sm:gap-8 sm:justify-start"
        >
          {% if layout == "post.njk" %}
          {%- if collections.posts %}
          {%- set previousPost = collections.posts | getPreviousCollectionItem %}
          {%- set nextPost = collections.posts | getNextCollectionItem %}
          {%- if nextPost or previousPost %}
          {%- if previousPost %}
          <li id="previousPost" class="flex sm:w-full items-center min-w-max h-10">
            <div class="flex flex-col w-full md:justify-start">
              <p class="text-xs">Previous post</p>
              <div class="flex w-full items-center md:flex-row md:justify-start">
                <ion-icon name="arrow-back-outline"></ion-icon>
                <a href="{{ previousPost.url }}" class="displayFont">{{ previousPost.data.title }}</a>
              </div>
              </div>
            </li>
          {% endif %}
          {%- if nextPost %}
          <li id="nextPost" class="flex items-center min-w-max h-10">
            <div class="flex flex-col w-full md:justify-start">
              <p class="text-xs">Next post</p>
              <div class="flex w-full items-center md:flex-row md:justify-start">
                <a href="{{ nextPost.url }}" class="displayFont">{{ nextPost.data.title }}</a>
                <ion-icon name="arrow-forward-outline"></ion-icon>
              </div>
              </div>
            </li>
          {% endif %}
          {%- endif %}
          {%- endif %}
          {% endif %}
        </ul>
        <ul class="flex flex-col flex-wrap items-center text-sm gap-6 sm:flex-row sm:gap-8 sm:justify-start">
          <li class="flex items-center gap-1 decoration-transparent">
            <button id="contact" class="transition hover:/75">Contact me</button>
          </li>
          <li class="flex items-center gap-1 decoration-transparent">
            Kariyma Murphy &copy; 2024. All rights reserved.
          </li>
        </ul>
      </nav>
  </div>
</footer>