  <header class="z-20 sticky top-0 left-0 right-0 lg:absolute flex w-full max-w-screen-xl mx-auto border-b-2">
    <div class="w-full flex flex-col justify-center gap-2 lg:justify-start p-6">
      <a href="/" class="decoration-transparent">
      kariyma murphy
      </a>
      {% if title and permalink !== "/" %}
        <h1 class="text-base opacity-70">{{ title }}</h1>
      {% endif %}
    </div>
    <div
      class="w-auto sm:w-full ml-auto sm:items-center gap-8 p-6"
    >
      <div class="w-full p-0">
        <button
          id="burger"
          aria-controls="main-nav"
          aria-expanded="false"
          class="ml-auto relative block bg-[var(--primary)] p-2.5 border-2 rounded sm:hidden"
        >
          <span class="sr-only">Toggle menu</span>
          <svg
            id="burgerIcon"
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            viewBox="0 0 24 24"
          >
            <rect class="line top"
                  width="20" height="2"
                  x="2" y="5" rx="1"></rect>
            <rect class="line middle"
                  width="20" height="2"
                  x="2" y="11" rx="1"></rect>
            <rect class="line bottom"
                  width="20" height="2"
                  x="2" y="17" rx="1"></rect>
          </svg>
        </button>
        {% include "_partials/nav.njk" %}
      </div>
    </div>
    <div id="headerScrim" class="absolute top-0 left-0 flex w-full h-full -z-10"></div>
  </header>
