  <header id="navContainer" class="flex flex-col-reverse md:flex-row ml-auto w-full stone p-6">
    <div class="w-full">
      {%- if layout == "blogpage.njk" and title !== "Home"  %}
      <div id="tagDrawer" class="md:mb-4 border-2">
          <details class="open:border-[var(--background)] p-4 border-[var(--border-primary)] border-2 cursor-pointer transition-all" {%- if title != "All blog posts" %}open{%- endif -%}>
            <summary class="text-base">
              Tags
            </summary>
            {% include "_partials/taglist.njk" %}
          </details>
      </div>
      {% endif %}
    </div>
    <div
      class="flex w-full md:h-16 md:items-center gap-8"
    >
      <div class="w-full md:p-0 md:items-center justify-end md:justify-between">
        <button
          id="burger"
          class="ml-auto relative block rounded bg-gray-100 p-2.5 text-gray-600 transition hover:text-gray-600/75 md:hidden"
        >
          <span class="sr-only">Toggle menu</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4 6h16M4 12h16M4 18h16"
            ></path>
          </svg>
        </button>
        {% include "_partials/nav.njk" %}
      </div>
    </div>
  </header>
