<div id="header" class="w-full flex flex-col md:flex-row lg:top-0 lg:sticky z-20">
  <header id="navContainer" class="flex flex-col-reverse md:flex-row ml-auto w-full stone">
    <div class="w-full top-0 md:sticky">
      {% include "_partials/logo.njk" %}
      {%- if title !== "Home" %}
      <div id="tagDrawer">
          {%- if title == "All blog posts" %}
          <details>
          {% else %}
          <details open>
          {%- endif -%}
            <summary class="pb-4 md:pr-6 md:pl-0 text-base">
              Tags
            </summary>
            {% include "_partials/taglist.njk" %}
          </details>
      </div>
      {% endif %}
    </div>
    <div
      class="flex w-full md:h-16 md:items-center gap-8"
    >
      <div class="w-full px-6 md:items-center justify-end md:justify-between">
        <button
          id="burger"
          class="ml-auto relative block rounded bg-gray-100 p-2.5 text-gray-600 transition hover:text-gray-600/75 md:hidden"
        >
          <span class="sr-only">Toggle menu</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4 6h16M4 12h16M4 18h16"
            ></path>
          </svg>
        </button>
        {% include "_partials/nav.njk" %}
      </div>
    </div>
  </header>
</div>
