<div class="mx-auto p-6 max-w-screen-xl min-h-[16rem]">
    <h2 class="max-w-prose">
      Hello! I’m a designer helping organizations define and build digital products and services, and this is my digital space for tinkering, researching, or making tactile things. 👩🏾‍💻
    </h2>
    <a href="/about/">about me</a>
</div>