<div class="mx-auto p-6 max-w-screen-xl min-h-[16rem]">
    <h2 class="max-w-screen-md">
      I’m a designer, helping organizations define and build digital products and services. This is my digital home for tinkering, research, and tactile work.
    </h2>
    <h3>Learn more <a href="/about/">about me</a></h3>
</div>