<div class="md:pt-16 md:mb-6 md:mx-6 p-6 w-auto max-w-4xl min-h-[16rem] lg:ml-[184px]">
    <h2 class="text-5xl leading-tight">This is my corner of the web where I tinker with ideas.
      Learn more <a href="/about/">about me</a> or
      <a href="/resume/">contact</a>
      </h2>
</div>