<li>
  <article>
    <h3>{{ codepen.data.title }}</h3>
    <a href="{{ codepen.data.penUrl }}" target="_blank">Codepen</a>
    <img src="/codepens/imgs/{{ codepen.data.thumb }}" alt="{{ codepen.data.thumbAlt }}"/>
    <p>
      {{ codepen.data.description }}
    </p>
  </article>
</li>