<li>
  <article>
    <h3 class="flex items-center gap-1">
      <a href="{{ codepen.data.penUrl }}" rel="noopener" target="_blank">{{ codepen.data.title }}</a>
      <ion-icon name="link-outline" class="rotate-45"></ion-icon>
    </h3>
    <img src="/codepens/imgs/{{ codepen.data.thumb }}" alt="{{ codepen.data.thumbAlt }}"/>
    <p>
      {{ codepen.data.description }}
    </p>
  </article>
</li>