<div class="w-full">
  <div class="flex items-center justify-between">
    <div id="latestPostsList" class="overflow-x-scroll scroll-px-8" style="scroll-snap-type: x mandatory;">
      <ul class="scroll-container grid min-h-[400px]">
        {% for post in postslist | reverse %}
        <li class="postlist-heavyItem border-2 rounded-3xl lg:hover:bg-[var(--color-gray-3)] transition-colors lg:-mr-0.5">
          {% if post.data.thumb %}
          <article class="sm:grid sm:grid-cols-2 h-full">
            <div>
              <div class="relative h-80 sm:h-full self-center">
                <a href="{{ post.url | url }}">
                  <span class="overflow-hidden absolute h-full w-full md:rounded-l-3xl">
                      {% image post.data.thumb, post.data.thumbAlt, "thumbImg aspect-square w-full max-w-full min-h-full object-cover inset-0 rounded-3xl sm:rounded-l-3xl sm:rounded-r-none" %}
                  </span>
                </a>
              </div>
            </div>
            <div class="p-6 sm:p-4">
              <div>
                <div class="flex flex-col gap-4 lg:p-6">
                  <a href="{{ post.url | url }}"
                      class="opacity-80 hover:opacity-100">
                    <h4 class="pb-2 leading-tight">
                      {% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}
                    </h4>
                  </a>
                  <div class="max-w-sm mt-2">
                      <a href="{{ post.url | url }}"
                        class="opacity-80 hover:opacity-100 decoration-transparent"
                        style="font-family:var(--body-font);">
                      {% excerpt post %}
                    </a>
                    </div>
                  <time
                  datetime="{{ post.date | htmlDateString }}"
                  class="text-sm"
                  >{{ post.date | readableDate }}</time>
                  <ul class="flex flex-row flex-wrap gap-2 pt-6">
                    {% for tag in post.data.tags | filterTagList %} {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
                    <li>
                      <a href="{{ tagUrl }}"
                          title="{{ site.url}}{{ tagUrl }}"
                            class="post-tag md:text-xs rounded-full"
                            >{{ tag }}</a
                          >
                    </li>
                    {% endfor %}
                  </ul>

                </div>
              </div>
            </div>
            {% else %}
            <article>
              <div class="flex-col justify-between flex-1">
                <div class="p-6">
                  <a href="{{ post.url | url }}">
                    <h4>
                      {% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}
                  </h4>
                  </a>

                  <p class="mt-2 line-clamp-3 text-sm/relaxed text-gray-700">
                    {% excerpt post %}
                  </p>
                </div>
              </div>
            {% endif %}
          </article>
        </li>
        {% endfor %}
        {% if numberOfLatestPostsToShow %}
        {% set postsCount = collections.posts | length %}
        {% set morePosts = postsCount - numberOfLatestPostsToShow %}
        {% if morePosts > 0 %}
        <div class="inline-block border-2 flex-shrink-0 lg:w-10/12 postlist-heavyItem rounded-3xl hover:bg-[var(--color-gray-3)] transition-colors lg:-mr-0.5">
          <p class="text-2xl p-12">See more in <a href="/blog/">Blog</a></p>
          </div>
        {% endif %}
        {% endif %}
        </ul>
    </div>
    <button id="slideNext" title="Next" aria-controls="latestPostsList" class="hidden md:flex absolute mx-4 right-0 left-auto bg-[var(--primary)] rounded-full transition-transform">
      <ion-icon name="arrow-forward-outline" aria-labelledby="nextBtn" class="text-xl text-white m-2 p-2"></ion-icon>
    </button>
    <div id="nextBtn" class="sr-only">Slide to the right</div>
    <button id="slideBack" title="Previous" aria-controls="latestPostsList" class="hidden right-auto left-0 absolute mx-4 bg-[var(--primary)] rounded-full transition-transform">
      <ion-icon name="arrow-back-outline" aria-labelledby="backBtn" class="text-xl text-white m-2 p-2"></ion-icon>
    </button>
    <div id="backBtn" class="sr-only">Slide to the left</div>
  </div>
</div>