<div class="flex items-center justify-between lg:col-start-2 lg:col-span-4">
  <div id="latestPostsList" class="relative w-full lg:min-h-[384px] lg:overflow-x-scroll">
    <ul class="scroll-container flex flex-col lg:grid lg:h-full gap-2 lg:px-6 lg:absolute justify-start lg:m-auto"
      style="counter-reset: start-from {{ (featuredPostsCount) + 1 }};"
      >
      {% asyncEach post in featuredPosts | reverse %}
        {% set postsCount = collections.posts | length %}
        {% set articleUrl = post.url %}
        {% set articleDate = post.date %}
        {% set articleTitle = post.data.title %}
        {% set articleDescription = post.data.description %}
        {% set articleImg = post.data.thumb %}
        {% set articleImgAlt = post.data.thumbAlt %}
        {% set articleTags = post.data.tags %}
        <li class="postlist-heavyItem">
          {% include "_partials/postlistCard.njk" %}
        </li>
      {% endeach %}
      {% if numberOfLatestPostsToShow %}
      {% set morePosts = postsCount - numberOfLatestPostsToShow %}
      {% if morePosts > 0 %}
      <div class="inline-block border flex-shrink-0 lg:w-10/12 postlist-heavyItem rounded-3xl transition-colors lg:-mr-0.5">
        <p class="text-2xl p-12">See more in <a href="/blog/">Blog</a></p>
        </div>
      {% endif %}
      {% endif %}
      </ul>
  </div>
  <button id="slideNext" title="Next" aria-controls="latestPostsList" class="hidden md:flex absolute right-0 mr-4 left-auto bg-[var(--primary)] rounded-full md:hover:translate-x-2 transition-transform">
    <ion-icon name="arrow-forward-outline" aria-labelledby="nextBtn" class="text-4xl text-[var(--text-color-link-active)] m-2 p-2"></ion-icon>
  </button>
  <div id="nextBtn" class="sr-only">Slide to the right</div>
  <button id="slideBack" title="Previous" aria-controls="latestPostsList" class="hidden right-auto absolute bg-[var(--primary)] rounded-full md:hover:translate-x-[-0.5rem] transition-transform">
    <ion-icon name="arrow-back-outline" aria-labelledby="backBtn" class="text-4xl text-[var(--text-color-link-active)] m-2 p-2"></ion-icon>
  </button>
  <div id="backBtn" class="sr-only">Slide to the left</div>
</div>