
  <div
    reversed
    class="postlist grid break-inside-avoid w-full border-l-2 border-t-2"
    style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}"
  >
    {% for post in postslist | reverse %}
    <article
      class="postlist-item{% if post.url == url %} postlist-item-active{% endif %} h-full w-full border-r-2 border-b-2"
    >
      <div
        class="flex flex-col relative justify-end h-full w-full min-h-fit"
      >
      <a href="{{ post.url }}" class="h-full w-full">
        <div class="flex flex-col group relative h-full w-full transition-all border-2 border-transparent">
          <div class="flex flex-col px-4 pt-4">
            <span class="flex flex-row flex-wrap gap-1 items-center justify-end">
              <time
                    datetime="{{ post.date | htmlDateString }}"
                    class="text-sm"
                    >{{ post.date | readableDate }}</time
                  >
            </span>
            <h3 class="postlist-item-header break-words px-4 pt-4">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</h3>
            <h4 class="mx-4 pb-4">{{ post.data.description }}</h4>
          </div>
          <div class="relative w-full h-full">
            <div
              class="postlist-item-description h-full transition-all"
            >
            <div class="text-base mx-8 pb-12 lg:pb-0 max-w-xl">
              {% excerpt post %}</div
              >
            {% if post.data.thumb %}
            <div
              class="thumbImgContainer relative border-t-2 lg:flex items-end justify-end w-full lg:h-full top-0 lg:absolute lg:overflow-hidden lg:z-10"
            >
              {% image post.data.thumb, post.data.thumbAlt, "thumbImg h-full w-full lg:absolute lg:object-cover lg:inset-0 lg:top-0" %}
            </div>
            {% endif %}
            </div>
          </div>
        </div>
      </a>
      </div>
      <ul class="page-tags-list px-4 pb-4 absolute max-w-sm lg:bg-transparent flex flex-row flex-wrap z-20 gap-2">
            {% for tag in post.data.tags | filterTagList %} {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
            <li>
              <a href="{{ tagUrl }}"
                  title="{{ site.url}}{{ tagUrl }}"
                    class="post-tag md:text-sm rounded-full"
                    >{{ tag }}</a
                  >
            </li>
            {% endfor %}
      </ul>
    </article>
    {% endfor %}
  </div>