{% set currentYear = "" %}
  <ol reversed class="list-none">
    {% for post in postslist | reverse %}
    <li class="mb-4">
    {% if showYear %}
          {% set postYear = post.date.getFullYear() %}
          {% if currentYear != postYear %}
          {% set currentYear = postYear %}
          <h2 class="displayFont lg:text-xl mb-9">{{ postYear }}</h2>
          {% endif %}
    {% endif %}

        <h3 class="lg:text-2xl"><a href="{{ post.url | url }}"><time datetime="{{ post.date | htmlDateString }}" class="text-sm">{{ post.date | readableDate }}</time> {% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a></h3>
      </li>
    {% endfor %}
    </ol>