
<aside id="toggles" class="hidden md:block px-6 stone">
  <div class="sticky top-0 pt-4 lg:w-8">
    <a href="/">
      <span class="sr-only">Home</span>
      <ion-icon name="moon-outline" class="hidden"></ion-icon>
      <ion-icon name="sunny-outline"></ion-icon>
    </a>
  </div>
</aside>