<div
reversed
id="main"
class="mx-6 grid md:grid-cols-3 gap-4 break-inside-avoid"
>
  {% set portfolio = collections.work %}
  {% for work in portfolio %}
  <article
    class="postlist-item{% if post.url == url %} postlist-item-active{% endif %} h-full w-full border-2 rounded-3xl lg:hover:bg-[var(--color-gray-3)] transition-colors"
  >
    <div
      class="flex flex-col relative justify-end h-full w-full min-h-fit"
    >

    <a
    href="{%- if work.data.type == "codepen" -%}{{ work.data.penUrl }}{%- elif work.data.type == "video" -%}{{ work.data.videoUrl }}{%- else -%}{{ work.url }}{%- endif -%}"
    aria-label="Link to Codepen"
    target="_blank"
    rel="noopener"
    class="flex flex-col h-full w-full">
    <div class="h-auto flex flex-col p-4">
      <ul class="flex items-center mb-6 opacity-70">
        <li class="min-w-max"><p class="text-sm displayFont">{{ work.data.formats }}</p></li>
        {% if work.data.type == "jobExp" %}
        <li class="flex items-end justify-end w-full"><time class="text-sm">{{ work.data.dates }}</time></li>
        {% endif %}
      </ul>
      <h2 class="break-words px-4">{% if work.data.title %}{{ work.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</h3>
      <p class="p-4">{{ work.data.description }}</p>
      {% if work.data.thumb %} <!-- with image -->
      </div>
      <div class="flex items-end justify-end overflow-hidden h-full">
        <span class="absolute flex items-center p-2 rounded-br-3xl bg-gradient-to-tl text-white text-center"
        {%- if work.data.type == "codepen" -%}aria-labelledby="logo-codepen"
        {%- elif work.data.type == "video" -%}aria-labelledby="logo-vimeo"{%- endif -%}>
          {%- if work.data.type == "codepen" -%}
          <ion-icon title="codepen" name="logo-codepen" class="text-4xl"></ion-icon>
          <div id="logo-codepen" class="sr-only">Codepen logo</div>
          {%- elif work.data.type == "video" -%}
          <ion-icon title="vimeo" name="logo-vimeo" class="text-4xl"></ion-icon>
          <div id="logo-vimeo" class="sr-only">Vimeo logo</div>
          {% else %}
          <ion-icon name="link-outline"></ion-icon>
          {%- endif -%}
        </span>
          <span class="h-full overflow-hidden rounded-b-3xl">
              {% image work.data.thumb, work.data.thumbAlt, "thumbImg h-full object-cover" %}
          </span>
      </div>
      {% else %} <!-- without image -->
      </div>
      {% endif %}
    </a>
    </div>
    <ul class="px-4 pb-4 absolute max-w-sm lg:bg-transparent flex flex-row flex-wrap gap-2">
          {% for tag in work.data.tags | filterTagList %} {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
          <li>
            <a href="{{ tagUrl }}"
                title="{{ site.url}}{{ tagUrl }}"
                  class="displayFont post-tag md:text-sm rounded-full"
                  >{{ tag }}</a
                >
          </li>
          {% endfor %}
    </ul>
  </article>
  {% endfor %}
</div>