{% asyncEach work in portfolio | reverse %}
  {% set articleUrl = work.url %}
  {% set articleDate = work.date %}
  {% set articleTitle = work.data.title %}
  {% set articleDescription = work.data.description %}
  {% set articleImg = work.data.thumb %}
  {% set articleImgAlt = work.data.thumbAlt %}
  {% set articleTags = work.data.tags %}
  {% set articleLink = work.data.externalLink %}
  {% include "_partials/postlistCard.njk" %}
{% endeach %}