<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "head.njk" %}
        {% if site.env %}
            <!-- Capture the CSS content as a Nunjucks variable -->
            {% set css %}{% include "styles.min.css" %}{% endset %}
            <style>
                {{css | safe}}
            </style>
        {% else %}
            <link rel="stylesheet" href="/static/styles.min.css">
        {% endif %}

        <!-- Try and serve Google Fonts in the most efficent way possible -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="preload" href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;500&family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
        <noscript>
            <link href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;500&family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap" rel="stylesheet" type="text/css"/>
        </noscript>
    </head>
    <body>
      <svg id="fader"></svg>
        <a href="#main" class="skip-link">Skip to main content</a>
          {% include "header.njk" %}
          {% block aside %}{% endblock %}
          {% block article %}
          <main class="border rounded-3xl py-6 sm:mx-6 {% if layout !== 'work.njk' %}lg:my-2{% endif %} {% if layout == 'post.njk' %}flex items-center{% endif %}">
            {% block intro %}{% endblock %}
            {% block featuredPosts %}{% endblock %}
              {% if permalink !== '/' %}
              {{ content | safe }}
              {% endif %}
            {% block portfolio %}{% endblock %}
            {% block latestPosts %}{% endblock %}
          </main>
          {% endblock %}
          {% include "footer.njk" %}
        <svg id="navScrim" aria-hidden="true" class="dialog-overlay" data-a11y-dialog-hide></svg>
        <script src="/static/app.min.js" defer></script>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        <script>
          if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", (user) => {
              if (!user) {
                window.netlifyIdentity.on("login", () => {
                  document.location.href = "/admin/";
                });
              }
            });
          }
        </script>
    </body>
</html>