---
layout: base.njk
---
{{ content | safe }}
{%- if permalink !== "/"  %}
<section id="tagDrawer" class="mt-6 mx-6 lg:mt-0">
  <h4>Topics</h4>
  <div class="flex flex-wrap items-center gap-2 list-none mb-8">
    {% include "_partials/taglist.njk" %}
  </div>
</section>
{% endif %}