<div id="contactModal" class="modal mx-6 lg:fixed sm:bottom-0 rounded-3xl lg:mx-auto mb-14 max-w-screen-xl lg:w-full lg:left-0 lg:right-0 hidden">
  <div class="max-w-screen-md">
    {% block contact %}
    {{ contact | safe }}
  {% endblock %}
  </div>
</div>