<div id="contactModal" class="modal m-6 px-6 lg:px-0 lg:fixed sm:bottom-0 rounded-3xl lg:mx-auto lg:mb-14 max-w-screen-xl lg:w-full lg:left-0 lg:right-0 hidden">
  <div>
    {% block contact %}
    {{ contact | safe }}
  {% endblock %}
  </div>
</div>