---
layout: base.njk
---
<div class="w-full flex flex-col">
  {% include "header.njk" %}
  <main class="p-6 mx-auto w-full flex flex-col md:p-0 md:items-start lg:justify-center md:justify-start">
    {{ content | safe }}
  </main>
  {% include "footer.njk" %}
</div>