---
layout: home.njk
date: git Created
---
<div id="main" class="flex flex-col lg:flex-row max-w-screen-xl">
  {% if description %}
  <div class="max-w-full lg:max-w-sm mb-6 pl-6">
    <h2>{{ description }}</h2>
  </div>
  {% endif %}
  <div class="px-6 textblock max-w-prose lg:max-w-lg">
    {{ content | safe }}
  </div>
</div>