---
layout: base.njk
date: git Last Modified
---
{% if collections.posts %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- if nextPost or previousPost %}
<div class="flex pl-4 w-full lg:w-2/12 justify-start lg:self-end">
{%- if previousPost %}
  <a href="{{ previousPost.url }}" class="flex gap-2 items-center md:hover:translate-x-[-0.5rem] transition-transform">
    <i class="fa fa-arrow-circle-left fa-3x" aria-hidden="true"></i>
    <div>
      <p class="text-xs">previous post</p>
      {{ previousPost.data.title }}
    </div>
  </a>
{% endif %}
</div>
  <article id="main" class="mx-6 md:mx-0 max-w-prose lg:mx-auto">
    <section id="metadata" class="relative flex flex-col lg:flex-row">
      <div class="max-w-sm">
        {{ content | toc | safe }}
      </div>
      <ul class="ml-auto flex flex-wrap items-center lg:justify-end list-none -mt-0.5 max-w-screen-xl">
        {%- for tag in tags | filterTagList %}
        {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
        <li class="inline-flex items-center h-10"><a href="{{ tagUrl }}" class="post-tag relative block text-sm">{{ tag }}</a></li>
        {%- endfor %}
      </ul>
    </section>
    <h1 class="text-5xl">{{ title }}</h1>
    <h2>{{ description }}</h2>
    {% image thumb, thumbAlt, "thumbImg object-contain object-right bg-[var(--background)]" %}

        {{ content | safe }}

        <div class="mx-auto max-w-prose">
          <time datetime="{{ page.date | htmlDateString }}" class="text-xs opacity-70">Last updated: {{ page.date | readableDate }}</time>
        </div>
  </article>
</div>
<div class="flex pr-4 w-full lg:w-2/12 justify-end lg:self-end">
  {%- if nextPost %}
  <a href="{{ nextPost.url }}" class="flex gap-2 items-center md:hover:translate-x-[0.5rem] transition-transform">
    <div>
      <p class="text-xs">next post</p>
      {{ nextPost.data.title }}
    </div>
    <i class="fa fa-arrow-circle-right fa-3x" aria-hidden="true"></i>
  </a>
  {% else %}
  <p class="flex text-xs items-center opacity-70">
    You're all caught up!
  </p>
  {% endif %}
</div>
{% endif %}
{% endif %}