{% extends 'src/_layouts/base.njk' %}
{% block aside %}
<aside class="lg:sticky lg:top-0">
  <div class="flex flex-wrap items-start relative w-auto lg:w-full lg:absolute list-none -mt-0.5 py-4 px-6 gap-2">
    <div class="justify-end mr-auto">
      {{ content | toc | safe }}
    </div>
    <ul class="inline-block gap-2">
      {%- for tag in tags | filterTagList %}
      {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
      <li>
        <a href="{{ tagUrl }}" class="post-tag relative block rounded-full">{{ tag }}</a></li>
      {%- endfor %}
    </ul>
</aside>
{% endblock %}
{% block article %}
<main class="py-6">
  {% if collections.work %}
  {%- set nextPost = collections.work | getNextCollectionItem %}
  {%- set previousPost = collections.work | getPreviousCollectionItem %}
  {%- if nextPost or previousPost %}
  <div class="flex flex-col gap-8 lg:flex-row">
    <div class="flex pl-4 w-full p-2 lg:w-2/12 justify-start lg:self-end">
    {%- if previousPost %}
      <a href="{{ previousPost.url }}" class="flex gap-2 decoration-transparent items-center md:hover:translate-x-[-0.5rem] transition-transform">
        <i class="fa fa-arrow-circle-left fa-3x" aria-hidden="true"></i>
        <div>
          <p class="text-xs">previous post</p>
          {{ previousPost.data.title }}
        </div>
      </a>
    {% endif %}
    </div>
    <article id="main" class="textblock gallery w-full max-w-prose mx-auto my-8">
      {% if description %}
      <h2>{{ description }}</h2>
      {% endif %}
      {% image thumb, thumbAlt, "thumbImg object-contain object-right bg-[var(--background)]" %}
      {{ content | safe }}
      <time datetime="{{ page.date | htmlDateString }}" class="text-xs opacity-70">Last updated: {{ page.date | readableDate }}</time>
    </article>
    <div class="flex pr-4 w-full p-2 lg:w-2/12 justify-end lg:self-end">
      {%- if nextPost %}
      <a href="{{ nextPost.url }}" class="flex gap-2 items-center decoration-transparent md:hover:translate-x-[0.5rem] transition-transform">
        <div>
          <p class="text-xs">next post</p>
          {{ nextPost.data.title }}
        </div>
        <i class="fa fa-arrow-circle-right fa-3x" aria-hidden="true"></i>
      </a>
      {% else %}
      <p class="flex text-xs items-center opacity-70">
        You're all caught up!
      </p>
      {% endif %}
    </div>
  </div>
  {% endif %}
  {% endif %}
</main>
{% endblock %}