{% extends 'src/_layouts/base.njk' %}
{% block aside %}
<aside class="mx-6 lg:sticky lg:top-0">
  <ul class="flex flex-wrap items-start list-none -mt-0.5 py-4 px-6 gap-2">
    <li class="justify-end mr-auto">
      <p class="text-xs my-2 opacity-70">Table of contents</p>
      {{ content | toc | safe }}
    </li>
    {%- for tag in tags | filterTagList %}
    {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
    <li class="inline-block my-2">
      <a href="{{ tagUrl }}" class="post-tag relative block px-2 rounded-full">{{ tag }}</a></li>
    {%- endfor %}
  </ul>
</aside>
{% endblock %}
{% block article %}
<main class="border rounded-3xl mt-4 py-6 mx-6">
  <div id="main" class="flex flex-col gap-8 lg:flex-row">
    <article class="flex flex-wrap textblock gallery w-full">
      {{ content | safe }}
    </article>
  </div>
</main>
{% endblock %}