footer {
  display: grid;
  grid-template-columns: 1fr;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

footer #footer-contact {
  grid-area: 1/1;
  place-self: center;
}

footer .footer-background {
  display: grid;
  grid-area: 1/1;
  grid-template-rows: 1fr auto 1fr;
  height: 100vh;
}

footer hr {
  margin: 0;
  border-color: black;
}

footer .footer-background div#footer-links {
  flex-grow: 1;
  color: rgb(232, 150, 135);
}

div#footer-links, div#footer-image {
  background-color: rgb(210, 182, 206);
}

#footer-image {
  flex-grow: 1;
  height: 100%;
  background-image: url(/footer.svg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.marquee.inside.one,
.marquee.inside.three {
  transform: translateX(0);
}

.marquee.inside.two {
  transform: translateX(-50%);
}

footer span {
    font-size: clamp(4em, 8vw, 6em);
}

span, span::after {
    line-height: 1;
}

footer span::after {
    content: '→';
}

footer h2 {
  font-weight: 400;
  line-height: 1.2;
}