footer {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  height: 80vh;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgb(232, 150, 135);
}

footer hr {
  margin: 0;
  color: black;
}

footer div#footer-links {
  flex-grow: 1;
  background-color: rgb(210, 182, 206);
}

footer div#footer-contact {
  flex-grow: 1;
  height: 100%;
  background-image: url(https://imagedelivery.net/POqXXFhNBxBRY7E1RGhA0g/41e47f9b-632e-44a3-088a-7d152b3dba00/public);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
