.tab {
    padding: 1.2rem;
    border-left: 1px solid var(--accent);
    border-right: 1px solid var(--accent);
    position: relative;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-family: var(--font-display);
    color: var(--color-slate-500);
  }

  .active {
    width: 100%;
    left: 0;
    text-decoration: underline;
    color: var(--color-foreground);
    z-index: -1;
  }