	:root {
		/* globals */
		--primary: teal; /* use tailwind color instead */
		--background: var(--color-gray-5);
		--gradient: radial-gradient(109.5% 106.59% at 13.51% 90.18%, #FFF0A8 0%, #FFF9DB 33.33%, #ECF3EE 58.33%, #F4F2E8 81.77%, #F4CCA5 100%);


		/* grays */
		--color-gray-1: rgba(29, 29, 28, 0.85);
		--color-gray-2: rgba(33 ,36, 35, 1);
		--color-gray-3: rgba(115, 115, 115, 0.90);
		--color-gray-4: rgba(166, 166, 166, 1);
		--color-gray-5: rgba(253,252,244,0.85);

		/* color */
		--light-teal: rgba(95,194,178,1);

		--scrimOnImg: var(--color-gray-5);
		--scrimOnHover: var(--color-gray-4);

		--border-primary: var(--color-gray-3);
		/* text */
		--text-color: var(--color-gray-1);
		--text-color-link-active: var(--color-gray-1);
		--text-color-link-visited: var(--primary);
		--text-color-link: var(--primary);

		/*dynamic*/
		--nav-indicator-hover: var(--color-gray-5);
}

@media (prefers-color-scheme: dark) {
  :root {
		--primary: var(--light-teal);
    --background: var(--color-gray-1);

		--scrimOnImg: var(--color-gray-1);
		--scrimOnHover: var(--color-gray-2);

    --text-color: var(--color-gray-5);
		--text-color-link-visited: var(--primary);
    --text-color-link-active: #74d5d4;
		--hr: 1px solid var(--color-gray-224);
  }
}

html, body {
	background-color: var(--background);
	color: var(--text-color);
}

p > a[href] {
	color: var(--text-color-link);
}

.postlist-item-header {
	color: var(--text-color-link);
}

time {
	color: var(--color-gray-3);
}
