	:root {
		/* globals */
		--primary: #000; /* use tailwind color instead */
		--background: var(--color-gray-5);
		--gradient: radial-gradient(109.5% 106.59% at 13.51% 90.18%, #FFF0A8 0%, #FFF9DB 33.33%, #ECF3EE 58.33%, #F4F2E8 81.77%, #F4CCA5 100%);


		/* grays */
		--color-gray-1: rgba(33, 31, 24, 0.90);
		--color-gray-2: rgba(53, 50, 38, 0.85);
		--color-gray-3: rgba(92, 90, 80, 0.85);
		--color-gray-4: rgba(92, 90, 80, 0.25);
		--color-gray-5: rgba(244, 244, 236, 0.85);
		--stone: rgba(231 229 228, 0.85);

		/* color */
		--light-teal: rgba(2, 174, 143, 0.85);

		--btn: var(--background);
		--btnHover: var(--primary);

		--border-primary: rgb(231 229 228);
		/* text */
		--text-color: var(--color-gray-1);
		--text-color-link-active: var(--color-gray-5);
		--text-color-link-visited: var(--primary);
		--text-color-link: var(--primary);

		/*dynamic*/
		--nav-indicator-hover: var(--color-gray-5);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-gray-1);

		--color-gray-3: rgba(253, 252, 246, 0.85);
		--stone: rgb(20 19 15);
		--border-primary: var(--stone);
		--btn: var(--background);
		/* --scrimOnHover: var(--color-gray-5); */

    --text-color: var(--color-gray-5);
		/* --text-color-link-visited: var(--primary);
    --text-color-link-active: var(--color-gray-1); */
		--hr: 1px solid var(--color-gray-224);
  }
}

html {
	background-color: var(--stone);
}

body {
	background-color: var(--background);
	color: var(--text-color);
}

body {
	min-height: 100vh;
}

a {
	color: var(--text-color);
}

.primary-color {
	background-color: #067D76;
}

.background-color {
	background-color: var(--color-gray-5);
}

.gradient-color {
	background-image: var(--gradient);
}

.stone {
	background-color: var(--stone);
}
