	:root {
		/* globals */
		--primary: rgb(152, 54, 0); /* HEX #983600 */
		--background: var(--sandstone);
		--gradient: radial-gradient(109.5% 106.59% at 13.51% 90.18%, #FFF0A8 0%, #FFF9DB 33.33%, #ECF3EE 58.33%, #F4F2E8 81.77%, #F4CCA5 100%);


		/* grays */
		--color-gray-1: rgba(33, 31, 24, 0.90);
		--color-gray-2: rgba(53, 50, 38, 0.85);
		--color-gray-4: rgba(92, 90, 80, 0.25);
		--sandstone: rgb(244, 244, 236);

		/* color */
		--light-teal: rgba(2, 174, 143, 0.85);

		--btn: var(--background);
		--btnHover: var(--primary);

		--border-primary: #000;
		/* text */
		--text-color: var(--color-gray-1);
		--text-color-link-active: rgb(244, 244, 236);
		--text-color-link-visited: var(--primary);
		--text-color-link: var(--primary);

		/*dynamic*/
		--nav-indicator-hover: var(--sandstone);
}

@media (prefers-color-scheme: dark) {
  :root {
		--color-gray-1: rgba(255, 255, 255, 0.75);
		--sandstone: rgb(25, 25, 20);
		--border-primary: #fff;
		--btn: var(--background);

    --text-color: var(--color-gray-1);
		--text-color-link-visited: var(--primary);
    --text-color-link-active: var(--color-gray-1);
  }
}

html {
	background: var(--background);
}

body {
	background: var(--background);
	color: var(--text-color);
}

body {
	min-height: 100vh;
}


.background-color {
	background-color: var(--sandstone);
}

.gradient-color {
	background-image: var(--gradient);
}
