@font-face {
	font-family: "VG5000";
  src:
    url("/fonts/VG5000-Regular_web.woff2") format("woff2"),
    url("/fonts/VG5000-Regular_web.woff") format("woff");

	font-style: normal;
	font-weight: normal;
}

:root {
  --display-font: 'VG5000', Inter, Helvetica, Arial, sans-serif, serif, Icons;
  --body-font: "Chivo", Inter, monospace, Helvetica, Arial, sans-serif, serif, Icons;
	--pixel-font: "VG5000", Inter, Helvetica, Arial, sans-serif, serif, Icons;
	--display-settings: 'ital' 0, 'opsz' 35, 'wght' 500; /* font-variation-settings */
}

html, body {
	font-family: var(--body-font);
	font-optical-sizing: auto;
}

h1, h2, h3 {
	font-family: var(--display-font);
	font-variation-settings: var(--display-settings);
	@apply leading-tight
}

time, small {
	font-family: var(--pixel-font);
}

.pixel-font {
	font-family: var(--pixel-font);
}

p a {
	font-variation-settings: var(--display-settings);
}

/* a.post-tag {
	font-family: var(--display-font);
	font-variation-settings: var(--display-settings);
	padding-bottom: 0.2rem;
} */
