
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;500&family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap');

@font-face {
	font-family: 'FT88';
  src:
    url("/static/fonts/FT88-Regular.woff2") format("woff2"),
    url("/static/fonts/FT88-Regular.woff") format("woff");
}

@font-face {
	font-family: 'FT88-Serif';
  src:
    url("/static/fonts/FT88-Serif.woff2") format("woff2"),
    url("/static/fonts/FT88-Serif.woff") format("woff");
}

:root {
  --display-font: 'DM Sans', monospace, Helvetica, Arial, sans-serif, serif, Icons;
	--mono-font: 'DM Mono', Helvetica, Arial, sans-serif, serif, Icons;
  --body-font: 'DM Sans', Helvetica, Arial, sans-serif, serif, Icons;
	--pixel-font: 'FT88', Helvetica, Arial, sans-serif, serif, Icons;
}

html, body {
	font-optical-sizing: auto;
	font-family: var(--body-font);
}

h1 {
	font-family: var(--display-font);
}

h2 {
	font-family: var(--display-font);
}

h3 {
	font-family: var(--body-font);
}

h4 {
	font-family: var(--mono-font);
}

time, small {
	font-family: var(--pixel-font);
}

.pixel-font {
	font-family: var(--pixel-font);
}

a h3 {
	@apply underline
}

.gradient-line {
	background: linear-gradient(56deg, rgba(0, 0, 0, 0.00) 49.9%, var(--border-primary) 49.91%, var(--border-primary) 50.05%, rgba(0, 0, 0, 0.00) 50.06%);
}

.vertical-text {
	writing-mode: vertical-rl;
	-webkit-writing-mode: vertical-lr;
	-ms-writing-mode: vertical-lr;
	text-orientation: mixed;
}

@media (max-width: 768px) {
	.vertical-text {
		writing-mode: inherit;
	}
}

.textblock > p ul li {
	@apply leading-tight
}
