@import 'utils/_tailwind.css';
@import 'utils/_accessibility.css';
@import 'fonts.css';
@import 'colors.css';

* {
	border-color: var(--border-primary);
}

html {
	font-size: 100%;
	}

/* Credit https://css-tricks.com/custom-tailwind-css/ */

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

@layer utilities {
  .list-interpunct > li:before {
    content: '・';
    float: left;
    margin: 0 0 0 -0.9em;
    width: 0.9em;
  }

  @media (min-width: 768px) {
   .list-interpunct > li:before {
      margin: 0 0 0 -1.5em;
      width: 1.5em;
    }
  }
}

body {
	display: flex;
	flex-direction: column;
	text-rendering: optimizeLegibility
}

a {
	font-family: var(--mono-font);
}

a:not(h1) {
	@apply underline;
}

.postlist-item a:not(h3, small, time) {
	text-decoration-line: none;
	color: var(--text-color);
}

.postlist-item a p {
	font-family: var(--body-font);
}


h1 {
	@apply text-2xl;
	@apply font-bold;
}

h2 {
	@apply text-xl;
}

h3 {
	@apply text-base;
	@apply font-bold;
}

h4 {
	@apply text-base;
}

h5, h6 {
	@apply text-base;
	@apply font-medium;
}

ol {
	@apply pl-6
}

.indicator {
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 36px;
  width: 100px;
	height: 100%;
	opacity: 1;
	background-color: var(--color-gray-4);
}

/* POST TAGS */

a.post-tag {
	text-decoration-color: transparent;
	border: 2px solid var(--border-primary);
	background-color: var(--btn);
	color: var(--text-color);
	transition-property: background-color, border, color;
	transition-duration: 0.2s;
	margin: 0.5rem 0 0.5rem 0;
	padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

a.post-tag:hover, a.post-tag:active, a.post-tag:focus, a.active {
	border-color: var(--btnHover);
  background-color: var(--btnHover);
	color: var(--text-color-link-active);
}

.postlist-item > .post-tag {
  align-self: center;
}

.postlist-item p {
	margin: 1rem 0 1rem 0;
}

.container {
  display: flex;
  margin: 0px auto;
  align-items: center;
	width: 100%;
}

.postlist {
  height: 100%;
}

div.postlist-item:nth-child(n+2) {
	border-bottom: 2px solid var(--border-primary);
}


.postlist-item {
	counter-increment: start-from -1;
	align-self: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media (min-width: 1024px) {
	.postlist-item {
		min-height: 30rem;
	}
}

.postlist-item-header:before  {
    content: "" counter(start-from,decimal-leading-zero) ".\00a0";
    line-height: 100%;
    pointer-events: none;
    text-align: right;
		text-decoration: transparent;
		position: absolute;
    top: 0;
		left: 0;
		padding: 1rem;
		font-family: var(--pixel-font);
		/* width: 1rem; */
}

.postlist-item-header:before {
	@apply text-sm
}

.postlist-item-description > p {
	padding-left: 1.2rem;
	padding-bottom: 1rem;
	width: 100%;
}

.postlist-item-description > span {
	font-weight: 700;
}

@media (max-width: 1024px) {
	.postlist-item-description > p {
		max-width: calc(100% * 0.85);
	 }
}

@media (max-width: 992px) {
	.postlist-item-header:before {
		margin-left: 0;
	}
}

h3 span {
	background-color: var(--background);
}

.textblock {
	@apply text-base
}

.textblock > ol li {
	margin-block-end: 1rem;
}

.textblock > ul li {
	margin-block-end: 1rem;
}

.textblock > * + * {
	margin-block-end: 1rem;
}

.posttextBlock > ol li  {
	margin-block-end: 1rem;
	@apply list-decimal
}

.posttextBlock > ul li {
	margin-block-end: 1rem;
	@apply list-disc
}

.posttextBlock > * + * {
	max-width: 768px;
	margin-block-end: 1rem;
	margin-left: auto;
	margin-right: auto;
}

.posttextBlock > p > img {
	height: 500px;
	width: auto;
}

.posttextBlock > :nth-child(2) {
	padding-top: 6rem;
}


.intro>*+* {
	margin-block-end: 0.5em;
}

.bg-image {
	height: 500px;
}

@media (max-width: 992px) {
	.bg-image {
		height: 200px;
	}

}

@media (min-width: 1024px) {
	.postlist {
		grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
	}
}

details > summary {
	list-style-type: '＋';
}

details[open] > summary {
	list-style-type: '－';
}

.work-overlay {
	background-color: transparent;
}

.work-overlay:hover {
	background-color: rgba(0, 0, 0, 0.5);
}

.work-overlay:hover ion-icon {
	color: transparent;
}

.work-overlay:hover ion-icon {
	color: white;
}
