@import 'utils/_tailwind.css';
@import 'utils/_accessibility.css';
@import 'fonts.css';
@import 'colors.css';

/* Credit https://css-tricks.com/custom-tailwind-css/ */

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

@layer utilities {
  .list-interpunct > li:before {
    content: '・';
    float: left;
    margin: 0 0 0 -0.9em;
    width: 0.9em;
  }

  @media (min-width: 768px) {
   .list-interpunct > li:before {
      margin: 0 0 0 -1.5em;
      width: 1.5em;
    }
  }
}

body {
	display: flex;
	flex-direction: column;
}

p {
	max-width: 68ch;
}

h1 {
	@apply text-3xl;
}

h2 {
	@apply text-3xl;
}

h3, h4 {
	@apply text-2xl;
}

h5, h6 {
	@apply text-base;
}

a {
	transition: all 200ms ease-in allow-discrete;
}

.indicator {
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 36px;
  width: 100px;
	height: 100%;
	opacity: 1;
	background-color: var(--color-gray-4);
}

.postlist {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
	grid-auto-flow: row dense;
}

@media (max-width:992px){
	.postlist {
		grid-template-columns: 1fr;
	}
}


/* POST TAGS */
.page-tags-list li a.postlist-tag:after {
	content: ", ";
}
.page-tags-list li:last-child a.postlist-tag:after {
	content: " ";
}

a.post-tag {
	text-decoration-color: transparent;
	border: 1px solid;
	border-color: inherit;
	background-color: var(--btn);
	color: var(--text-color);
	transition-property: background-color, border, color;
	transition-duration: 0.2s;
	margin: 0.25rem 0 0.25rem 0;
	padding: 0.25rem;
	z-index: 20;
	border-radius: 0.5rem;
}

@media (max-width: 768px) {
	a.post-tag {
		z-index: 0;
	}
}

a.post-tag:active, a.post-tag:focus {
  background-color: var(--btnHover);
	color: var(--text-color-link-active);
}

a:hover, a.active  {
	color: var(--text-color-link-active);
	background-color: var(--btnHover);
}

.postlist-item > .post-tag {
  align-self: center;
}

@media (max-width: 992px) {
	.postlist .postlist-item:first-child {
		grid-row: span 2;
	}
}

div.postlist-item:nth-child(n+2) {
	border-bottom: 2px solid var(--border-primary);
}


.postlist-item {
	align-self: center;
}

/* @media (min-width: 1024px) {
	.postlist-item, .worklist-item {
		min-height: 24rem;
	}
} */

.postlist-item-header:before  {
    content: "" counter(start-from,decimal-leading-zero);
    line-height: 100%;
    pointer-events: none;
    text-align: right;
		text-decoration: transparent;
		opacity: 0.7;
		/* width: 1rem; */
		position: absolute;
		bottom: 0;
		right: 0;
		margin: 1rem;
		@apply text-xs
}

/* @media (max-width: 768px) {
	.postlist-item-header:before {
		position: relative;
		margin: 0;
	}
} */

/* .postlist-item-description div > p {
	width: 100%;
	font-size: 1em;
	margin: auto;
} */

@media (max-width: 1024px) {
	.postlist-item-description > p {
		max-width: calc(100% * 0.95);
	 }
}

@media (max-width: 992px) {
	.postlist-item-header:before {
		margin-left: 0;
	}
}

.thumbImgContainer {
	-ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.thumbImgContainer::-webkit-scrollbar {
	display: none;
}

.textblock > ol li {
	margin-block-end: 1rem;
}

.textblock > ul li {
	margin-block-end: 1rem;
}

.textblock > * + * {
	margin-block-end: 1rem;
}

.textblock button.textblockImg {
  all: initial;
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  cursor: zoom-in;
}

.textblock button.textblockImg > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
	transform: scale(0);
}

button.fullsize picture {
	display: flex;
	justify-content: center;
}

button.fullsize span {
	cursor: zoom-out;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
	padding: 1rem;
	background: rgba(0, 0, 0, 0.50);
	height: 100vh;
	overflow: scroll;
}

button.fullsize img {
	height: auto;
}

.fullsize img {
	animation: expand 300ms;
}

@keyframes expand {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.posttextBlock > ol li  {
	margin-block-end: 1rem;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	margin-left: 2rem;
	list-style: decimal!important;
}

.posttextBlock > ul li {
	margin-block-end: 1rem;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	margin-left: 2rem;
	list-style: disc!important;
}

.posttextBlock > * + * {
	margin-block-end: 1rem;
	margin-left: auto;
	margin-right: auto;
}

.posttextBlock > p > img {
	padding: 3rem;
}

.posttextBlock h2 {
	margin-bottom: 1.5rem;
}

.footnotes > ol li {
	list-style: decimal!important;
}

.footnotes-list {
	margin-left: 1.25rem;
}

.intro>*+* {
	margin-block-end: 0.5em;
}

.hero-bg-image {
	background-image: url(https://imagedelivery.net/POqXXFhNBxBRY7E1RGhA0g/41e47f9b-632e-44a3-088a-7d152b3dba00/public);
	display: flex;
	background-position: bottom;
	background-size: cover;
	background-repeat: no-repeat;
	max-height: 768px;
	height: 100vh;
}

@media (max-width: 1028px) {
	.hero-bg-image {
		height: 598px;
	}
}

@media (max-width: 768px) {
	.hero-bg-image {
		height: 584px;
	}
}

details > summary {
	list-style-type: '＋';
}

details[open] > summary {
	list-style-type: '－';
}


#latestPostsList {
	display: block;
	touch-action: none;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
}

@media (max-width: 768px) {
	#latestPostsList {
		margin: 0;
		/* width: 100%; */
		scroll-snap-type: none;
		scroll-behavior: auto;
		touch-action: auto;
	}
	#latestPostsList > div > div:nth-child(2){
		margin-top: -2px;
	}
}

#latestPostsList::-webkit-scrollbar {
	display: none;
}

@media (max-width: 768px) {
	#latestPostsList ul.scroll-container {
		grid-auto-flow: row;
	}
}

#latestPostsList li.postlist-heavyItem {
	width: calc(384px * 2);
  grid-row: 1;
}

@media (max-width: 992px) {
	#latestPostsList li.postlist-heavyItem {
		width: 100%;
	}
}

.postlist-heavyItem {
	scroll-snap-align: center;
}

.postlist-heavyImg {
	display: flex;
}

.postlist-heavyImg > picture {
	align-self: center;
}

/* honey pot */

.specialsauce {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	height: 0;
	width: 0;
	z-index: -1;
}


/* #burger .hamburger */

/* #burger .line {
	transition: 300ms;
	transform-origin: center;
}

#burger .top.close {
	transform: rotate(45deg) translateY(6px);
}

#burger .bottom.close {
	transform: rotate(-45deg) translateY(-6px);
}

#burger .middle.close {
	width: 1px;
	transform: translate(45%,0);
} */

/*- #burger[aria-expanded="true"] {

} -*/

#navScrim {
	right: 0;
	left: 0;
	position: fixed;
	height: 100vh;
	width: 100vw;
	opacity: 0;
	backdrop-filter: blur(0px);
	visibility: hidden;
	-webkit-transition: opacity 200ms ease-in;
	-moz-transition: opacity 200ms ease-in;
	transition: opacity 200ms ease-in;

}

#navScrim.show {
	visibility: visible;
	opacity: 1;
	backdrop-filter: blur(1px);
}

/* credit: https://christopheraue.net/design/fading-pages-on-load-and-unload  */

#fader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 999999;
	pointer-events: none;
	background:var(--background);
	animation: 500ms ease-in-out;
}

@keyframes fade-out {
	from { opacity: 1 }
	to { opacity: 0 }
}

@keyframes fade-in {
	from { opacity: 0 }
		to { opacity: 1 }
}

#fader.fade-out {
	opacity: 0;
	animation-name: fade-out;
}

#fader.fade-in {
	opacity: 1;
	animation-name: fade-in;
}

ol.postlist-lite li:nth-child(n+2) {
	@apply border-t
}

.postlist-lite-item {
	counter-increment: start-from -1;
}

.postlist-lite-item:before {
	content: "" counter(start-from, decimal-leading-zero);
	opacity: 0.7;
	display: block;
	position: absolute;
	right: 40px;
	@apply text-xs
}

.scrim {
	background-image: linear-gradient(180deg, rgba(244, 244, 244, 0.00) 0%, rgba(229, 229, 229, 0.44) 9.15%, rgba(0, 0, 0, 0.11) 53.03%, rgba(255, 255, 255, 0.00) 102.42%);
}

.scrim2 {
	background: linear-gradient(180deg, rgba(244, 244, 244, 0.00) 0%, rgba(0, 0, 0, 0.50) 43.53%, rgba(0, 0, 0, 0.80) 98.28%, rgba(255, 255, 255, 0.00) 102.42%);
}

.scrim3::before {
	display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 20%;
	top: 0;
	background: linear-gradient(0deg, rgba(244, 244, 244, 0.00) 0%, rgba(0, 0, 0, 0.10) 43.53%, rgba(0, 0, 0, 0.30) 102.42%);
	}

	@media (max-width: 1024px) {
		.scrim3::before {
			background: transparent;
		}
	}

/**
 * 1. Make the dialog container, and its child overlay spread across
 *    the entire window.
 */
 .dialog-container,
 .dialog-overlay {
	 position: fixed; /* 1 */
	 top: 0; /* 1 */
	 right: 0; /* 1 */
	 bottom: 0; /* 1 */
	 left: 0; /* 1 */
 }

 /* Source: https://a11y-dialog.netlify.app/usage/styling */
 /**
	* 1. Make sure the dialog container and all its descendants sits on
	*    top of the rest of the page.
	* 2. Make the dialog container a flex container to easily center the
	*    dialog.
	*/
 .dialog-container {
	 z-index: 20; /* 1 */
	 display: flex; /* 2 */
 }

 /**
	* 1. Make sure the dialog container and all its descendants are not
	*    visible and not focusable when it is hidden.
	*/
 .dialog-container[aria-hidden='true'] {
	 display: none; /* 1 */
 }

 /**
	* 1. Make the overlay look like an overlay.
	*/
 .dialog-overlay {
	 background-color: transparent; /* 1 */
	 backdrop-filter: blur(0rem);
	-webkit-backdrop-filter: blur(0rem);
	animation: fadeIn 300ms ease-in-out;
  animation-fill-mode: forwards;
 }

 @keyframes fadeIn {
	from {
		background-color: transparent;
		backdrop-filter: blur(0rem);
		-webkit-backdrop-filter: blur(0rem);
	}
	to {
		background-color: var(--nav-scrim); /*-sandstone--*/
		backdrop-filter: blur(0.35rem);
		-webkit-backdrop-filter: blur(0.35rem);
	}
 }


 /**
	* 1. Vertically and horizontally center the dialog in the page.
	* 2. Make sure the dialog sits on top of the overlay.
	* 3. Make sure the dialog has an opaque background.
	*/
 .dialog-content {
	 margin: auto; /* 1 */
	 z-index: 20; /* 2 */
	 position: relative; /* 2 */
	 background-color: var(--background); /* 3 */
 }

.headerHr::after {
	display: block;
  content: '';
	border-left: solid 2px;
	height: 14px;
	margin: auto;
}

.header-anchor {
	display: block;
	position: absolute;
	margin-left: -20px;
	opacity: 0.7;
	padding: 0 2px;
	border-radius: 99px;
	@apply text-sm
}
