---
import GalleryGrid from "@/components/GalleryGrid";
import Content from "@/layouts/content.astro";
import { getCollection, type CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const posts = Object.values(
    import.meta.glob("../work/**/*.md", { eager: true })
  );

  const collection = await getCollection("work");
  const uniqueTags = [
    ...new Set(posts.map((post: any) => post.frontmatter.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredCollection = collection.filter(
      (work): work is CollectionEntry<"work"> => work.data.tags.includes(tag)
    );
    // const filteredPosts = posts.filter((post: any) =>
    //   post.frontmatter.tags.includes(tag)
    // );
    return {
      params: { tag },
      // props: { posts: filteredPosts, collection: filteredCollection },
      props: { collection: filteredCollection },
    };
  });
}
//  /tags/astro

const { tag } = Astro.params;
const { collection } = Astro.props;
---

<Content title={tag}>
  <div class="col-span-full flex flex-col px-4 pb-24 md:px-0">
    <h1 class="mx-auto pt-14 text-slate-600 uppercase font-bold tracking-wide">Posts tagged with "{tag}"</h1>
    <div class="flex justify-center w-full my-8">
      <a href="/gallery/" class="flex gap-2">
        Back to other work
      </a>
    </div>
    <GalleryGrid collection={collection} />
  </div>
</Content>
