---
import Base from "../layouts/base.astro";

const pageTitle = "About Me";
const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
const skillColor = "navy";
const fontWeight = 700;
const textCase = "uppercase";
---

<Base title={pageTitle}>
    <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/about/">About</a>
        </li>
        <li>
          <a href="/blog/">Blog</a>
        </li>
      </ul>
      <p>
        I’m Kariyma, and when I’m not defining and building for organizations
        looking to unlock the power of digital media and products, I’m here
        writing and reviewing.
      </p>
      <p>My skills:</p>
      <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
      </ul>
</Base>