---
import Base from "../layouts/base.astro";

const pageTitle = "About Me";
const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
const skillColor = "navy";
const fontWeight = 700;
const textCase = "uppercase";
---

<Base title={pageTitle}>
    <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/about/">About</a>
        </li>
        <li>
          <a href="/blog/">Blog</a>
        </li>
      </ul>
      <p>
        I’m Kariyma, and I'm here to claim a little piece of the internet for myself. I'm a graphic designer turned <em>UI Engineer</em> with experience connecting designers, product managers, and developers to deliver excellent digital products. When I’m not studying, defining or implementing user interfaces for digital products, I’m here tinkering, writing or reviewing things I find interesting.
      </p>
          <!-- I'm Replace with your first name, a Replace with your title working for, Replace with your company name on Replace with your main duty located in, Replace with your job location
          /// Replace with a brief description of your job
          /// Replace with your career objective
          /// Replace with a brief description of your personal life
          /// If you are interested in my work, reach out to me! -->
      <p>My skills:</p>
      <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
      </ul>
</Base>