---
import Content from '@/layouts/content.astro';
const { title } = Astro.props;
---
<Content title="Work">
	<ul>
        <li><a href="/work/work-1/">Work 1</a></li>
        <li><a href="/work/capital-one/">Capital One</a></li>
      </ul>
</Content>