---
import Base from '../layouts/base.astro';
import '../styles/global.css';
import HeroImage from '../components/HeroImage'
import Footer from '../components/Footer.astro';
const { title } = Astro.props;
const currentPath = Astro.url.pathname;
---
<Base title="Home">
	<main class="bg-amber-50">
		<HeroImage client:only="react" imageURL='https://i.imgur.com/j05Azo0.png' imageAlt='Placeholder image' pageTitle='Placeholder' mobile mobileImgUrl='https://i.imgur.com/wBgQPt1.png'/>
		<h1>{title}</h1>
		<slot />
	</main>
	<Footer />
</Base>
