---
import TagsContainer from '@/components/TagsContainer';
import { Button } from '@/components/ui/button';
import Content from '@/layouts/content.astro';
const { title } = Astro.props;
const featuredTags = ["ux & ui design", "graphic design"]
---
<Content title={title}>
	<section class="px-4 md:px-0 pt-14 col-span-full md:col-start-3 md:col-end-11 items-center text-center mx-auto">
			<h1 class="text-5xl pb-8">Graphic Designer turned UI/UX Designer turned <b class="tracking-tight">Frontend Developer</b> building bespoke digital products.</h1>
			<div class="max-w-md mx-auto">
				<h2 class="pt-8 pb-14 flex flex-col gap-4 items-center justify-center">
					<TagsContainer tags={featuredTags}/>
				</h2>
				<Button variant="outline" className={`bg-accent-foreground text-white`}>
					<a href="/public/Kariyma_Murphy_Resume.pdf">Download my resume</a>
				</Button>
				<Button variant="outline">
					<a href="#footer-contact">Contact me</a>
				</Button>
			</div>
	</section>
</Content>
