---
import '../styles/global.css';
import "../styles/article.scss";
import Content from '@/layouts/content.astro';
const { title } = Astro.props;
---
<Content title="Home">
	<h1>Home</h1>
	<h2>I’m currently working on…</h2>
	<!-- <HeroImage client:only="react" imageURL='https://i.imgur.com/j05Azo0.png' imageAlt='Placeholder image' pageTitle='Placeholder' mobile mobileImgUrl='https://i.imgur.com/wBgQPt1.png'/> -->
</Content>
