---
import TagsContainer from '@/components/TagsContainer';
import Content from '@/layouts/content.astro';
const { title } = Astro.props;
const featuredTags = ["ux & ui design", "graphic design"]
---
<Content title="Home">
	<section class="flex flex-col px-4 md:px-0 bg-accent">
		<h1>Graphic Designer turned UI/UX Designer turned <em class="tracking-tight">Frontend Developer</em> building bespoke digital products.</h1>
		<h2>About me</h2>
		<p>I'm an Baltimore-based Frontend Developer with over 7 years of experience designing for digital marketing and driving measurable improvements for digital products. fostering collaboration between design, product, and engineering — most recently at Capital One, Truist, and KPMG.
		</p>
		<TagsContainer tags={featuredTags}/>
		<a href="/public/Kariyma_Murphy_Resume.pdf">Download my resume</a>
	</section>
</Content>
