---

---
<form name="contact" netlify>
  <label for="email">E-mail</label>
  <input id="email" required type="email" name="email" />
  <label for="name">Name</label>
  <input id="name" required type="text" name="name" />
  <label for="subject">Subject</label>
  <input id="subject" type="text" placeholder="Enter your subject here" required
  ></input>
  <label for="body">
    <textarea id="body" placeholder="Enter your message here" required
    ></textarea>
  </label>
  <button type="submit">Send</button>
</form>
