---
layout: page.njk
eleventyComputed:
  title: Index
permalink: /index/
eleventyImport:
  collections: ["post"]
eleventyNavigation:
  key: index
  order: 4
---
{% set showYear = true %}
{% set postslist = collections.posts %}
{% include "postlist-lite.njk" %}
