---
layout: page.njk
eleventyComputed:
  title: Archive
  description: All blog posts
permalink: /archive/
eleventyImport:
  collections: ["post"]
eleventyNavigation:
  key: archive
  order: 4
---
{% set showYear = true %}
{% set postslist = collections.posts %}
{% include "postlist-lite.njk" %}
