---
title: Writing
layout: blogpage.njk
eleventyNavigation:
  key: writing
  order: 2
numberOfTagsToShow: 10
---
{% set postslist = collections.posts %}
{% include 'postlist.njk' %}
{% include "_partials/taglist.njk" %}