---
layout: bloglist.njk
eleventyComputed:
  title: Blog
  description: Showing all blog posts
eleventyNavigation:
  key: blog
  order: 3
numberOfTagsToShow: 10
permalink: /blog/
eleventyImport:
  collections: ["post"]
---
<ol reversed role="list" class="list-none postlist-lite" style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}">
  {% set postslist = collections.posts  %}
  {% asyncEach post in postslist | reverse %}
    {% set articleUrl = post.url %}
    {% set articleDate = post.date %}
    {% set articleTitle = post.data.title %}
    {% set articleDescription = post.data.description %}
    {% set articleImg = post.data.thumb %}
    {% set articleImgAlt = post.data.thumbAlt %}
    {% set start_date = post.data.start_date %}
    {% set end_date = post.data.end_date %}
    {% set articleTags = post.data.tags %}
    {% set articleLink = post.data.externalLink %}
    {% include "_partials/list_with-img.njk" %}
  {% endeach %}
</ol>