---
title: Blog
layout: blogpage.njk
eleventyNavigation:
  key: blog
  order: 1
numberOfLatestPostsToShow: 3
---
{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include 'postlist.njk' %}