---
title: Home
layout: blogpage.njk
permalink: /
numberOfLatestPostsToShow: 3
eleventyNavigation:
  key: home
  order: 1
---
<div class="overflow-hidden w-auto mb-6 mx-6 lg:ml-6 lg:mr-0">
  {% set showYear = true %}
  {% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
  {% set postslistCounter = postsCount %}
  {% include "postlist-heavy.njk" %}
</div>