---
title: Home
layout: blogpage.njk
permalink: /
numberOfLatestPostsToShow: 3
eleventyNavigation:
  key: home
  order: 1
---
<div class="md:border-t-2 pt-6">
  {% set showYear = true %}
  {% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
  {% set postslistCounter = postsCount %}
  {% include "postlist-heavy.njk" %}
</div>