---
title: Work
description: Work & experience
layout: blogpage.njk
eleventyNavigation:
  key: work
  order: 3
---
{% set portfolio = collections.work %}
<section reversed class="postlist m-6 gap-2" style="counter-reset: start-from {{ (portfolio.length) + 1 }};"
>
  <h2 class="border p-6 rounded-3xl text-5xl">{{ description }}</h2>
  {% include 'worklist.njk' %}
</section>