---
title: Projects
description: Freelance & side projects
layout: blogpage.njk
eleventyNavigation:
  key: projects
  order: 4
---
{% set projects = collections.project %}
<section reversed class="worklist mx-6 gap-2" style="counter-reset: start-from {{ (projects.length) + 1 }};"
>
  <h2 class="border p-6 rounded-3xl text-5xl">{{ description }}</h2>
  {% asyncEach project in projects | reverse %}
    {% set articleUrl = project.url %}
    {% set articleDate = project.date %}
    {% set articleTitle = project.data.title %}
    {% set articleDescription = project.data.description %}
    {% set articleImg = project.data.thumb %}
    {% set articleImgAlt = project.data.thumbAlt %}
    {% set articleTags = project.data.tags %}
    {% set articleLink = project.data.externalLink %}
    {% include "_partials/card.njk" %}
  {% endeach %}
</section>