---
title: Projects
description: Freelance & side projects
layout: bloglist.njk
eleventyNavigation:
  key: projects
  order: 5
---
<ol reversed role="list" class="list-none postlist-lite" style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}">
  {% set projects = collections.project %}
    {% asyncEach project in projects | reverse %}
      {% set articleUrl = project.url %}
      {% set articleDate = project.date %}
      {% set articleTitle = project.data.title %}
      {% set articleDescription = project.data.description %}
      {% set articleImg = project.data.thumb %}
      {% set articleImgAlt = project.data.thumbAlt %}
      {% set articleTags = project.data.tags %}
      {% set articleLink = project.data.externalLink %}
      {% include "_partials/list_with-img.njk" %}
    {% endeach %}
</ol>