---
title: Where I've worked
layout: bloglist.njk
eleventyNavigation:
  key: work
  order: 4
---
<ol reversed role="list" class="list-none postlist-lite" style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}">
  {% set resume = collections.work %}
  {% asyncEach work in resume | reverse %}
    {% set articleUrl = work.url %}
    {% set position = work.data.position %}
    {% set articleTitle = work.data.title %}
    {% set articleDescription = work.data.description %}
    {% set articleImg = work.data.thumb %}
    {% set articleImgAlt = work.data.thumbAlt %}
    {% set start_date = work.data.start_date %}
    {% set end_date = work.data.end_date %}
    {% set articleTags = work.data.tags %}
    {% set articleLink = work.data.externalLink %}
    {% include "_partials/list_with-img.njk" %}
  {% endeach %}
</ol>