---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - tagList
    - projects
  addAllPagesToCollections: true
layout: blogpage.njk
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag | slugify }}/
---
<div class="w-auto -mt-0.5">
  {% set postslist = collections[ tag ] %}
  {% include "postlist.njk" %}
</div>