---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: home.njk
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag | slugify }}/
---
<div class="h-full md:h-1/2 md:w-full sm:w-full top-0 sticky lg:w-1/4">
  <div class="intro lg:max-w-sm sm:max-w-lg">
      {% include "_partials/header.njk" %}
      <h1 class="pt-4">All tags</h1>
      {% include "_partials/taglist.njk" %}
    </div>
  </div>
  <div class="w-auto">
    <h2 class="mb-1 py-5">
      Tagged “{{ tag }}”
    </h2>
    {% set postslist = collections[ tag ] %}
    {% include "postlist.njk" %}
  </div>