---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
    <title>{title}</title>
  </head>
  <body>
    <Navigation />
    <div class="scroller">
      <slot />
    </div>
  </body>
</html>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);
  const footerReveal = gsap.timeline({
    paused: true,
    scrollTrigger: {
      start: "bottom center",
      end: "+=100% end",
      //   onUpdate: (self) => console.log("progress:", self.progress),
      trigger: ".scroller",
      // markers: true,
      scrub: true,
      snap: {
        snapTo: "labels",
      },
    },
  });

  footerReveal.to(".marquee.inside.one", {
    duration: 0.5,
    xPercent: -50,
  }).to(".marquee.inside.two", {
	duration: 0.5,
    xPercent: 0,
  }, "<").to(".marquee.inside.three", {
	duration: 0.5,
    xPercent: -50,
  }, "<");
</script>
