---
import Footer from "@/components/Footer.astro";
import Base from "./base.astro";
const { title } = Astro.props;
---
<Base title={ title }>
	<main>
		<div class="md:grid md:grid-cols-12 md:grid-flow-row">
            <slot />
        </div>
	</main>
	<Footer />
</Base>